# folders
**/.vscode
**/game/saves
**/game/cache
**/game/tl/None

# renpy file formats
*.rpymc
*.rpym
*.rpyb
*.rpyc
*.bak

# files
**/log.txt
**/errors.txt
**/traceback.txt
**/project.json
**/progressive_download.txt
